body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0px;
}
.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: "barra-izquierda contenido barra-derecha" "barra-izquierda contenido barra-derecha" "barra-izquierda contenido barra-derecha" "barra-izquierda contenido barra-derecha";
}
.contenido {
    grid-area: contenido;
}
.barra-derecha {
    justify-items: center;
    align-items: center;
    grid-area: barra-derecha;
}
.barra-izquierda {
    justify-content: center;
    align-items: center;
    grid-area: barra-izquierda;
}
.footer {
    height: 75px;
    background: rgb(51, 51, 51);
}
.footer p {
     text-align: center;
     margin: 10px;
     color: rgb(109, 109, 109);
}
/* .footer-container {
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "footer footer footer"
} */
.ElBuenLector {
    color: red;
}
.clusters-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    gap: 28px;
}
.clusters {
    cursor: pointer;
    position: relative;
    display: block;
}
.clusters-image {
    margin: 0;
}
header p span {
    padding: 10px;
}
.figure-autor {
    display: inline-block;
}
.comment-meta {
    display: inline-block;
    text-align: right;
    float: right;
    font-size: 12px;
}
.publicar {
    background: #0275d8;
    color: white;
    border-radius: 5px;
    border: 5px solid transparent;
}
header p {
    text-align: center;
}
.clusters-image img {
    width: 100%;
    vertical-align: top;
}
.header-image {
    width: 100%;
}
.perdida {
    color: orange;
}
.input-comment-big {
     height: 200px;   
     width: 100%;
}
.input-comment-medium {
    padding: 10px;
    height: 50px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    
   .footer p {
        margin: 0px 0px;
    }
    .input {
        display: none;
    }
    .container {
        grid-template-areas: "contenido contenido contenido" "contenido contenido contenido" "contenido contenido contenido" "contenido contenido contenido" ;
    }
    .clusters-container {
        gap: 14px;
    }
    .contenido p {
         padding: 10px;
    }
}